.TheBarChartContainer {
  clear: both;
  position: relative;
  width: 260px;
  height: 440px;

  padding-top: 20px;
  padding-left: 10px;

  margin-top: 12px;
  margin-left: 20px;

  background-color: #E6E6E6;
}

.TheBarChart {
  margin-left: -20px;
}


.BarChartLegend {
  width: 240px;
  height: 20px;
  margin-bottom: 40px;
  margin-left: 40px;
  margin-top: -10px;
}

.BarChartLegendColor {
  position: relative;
  top: 9px;
  width: 40px;
  height: 3px;
  background-color: #e84506;
}

.BarChartLegendText {
  position: relative;
  margin-top: 10px;
  left: 50px;
  color: #666;
  font-size: 11px;
}


.Hidden {
  display: none;
}

.BarOpacityDefault {
  opacity: 1;
  -webkit-transition: opacity 0.75s;
}

.BarOpacityDefault.BarOpacityInactive {
  opacity: 0;
}
