/*

  DIMENSIONS:
  ===========
  max-width = min-width = width = 800px

  COLORS used in the crop-growth-app:
  ===================================

  #00A55D - ACI green

*/

.Header {
  margin-bottom: 10px;
}

.GroeneBalk {
  height: 100px;
  width: 800px;
  background: linear-gradient(to right, #00A55D, #00A55D, #fff);
}

.GroeneBalkText {
  position: relative;
  top: 30px;
  left: 20px;
  width: 50%;

  color: white;
  font-size: 34px;
}

.LogoAci {
  position: relative;
  top: -30px;
  right: 10px;
  float: right;
}

.ContentWrapper {
  width: 800px;
  /*min-height: 100px;*/

  background-color: #fff;
}

.KeyValuePair {
  width: 780px;
  margin-left: 20px;

  height: 30px;
  line-height: 30px;
  font-size: 14px;
}

.KeyValuePair.FirstRow {
  margin-top: 10px;
  /*background-color: #ddf;*/
}

.KeyWrapper {
  height: 100%;
  float: left;
  width: 16%;

  /*background-color: red;*/
}

.ValueWrapper {
  height: 100%;
  float: left;
  /*background-color: blue;*/
}