/*

  DIMENSIONS:
  ===========
  max-width = min-width = width = 800px

  COLORS used in the crop-growth-app:
  ===================================

  #00A55D - ACI green

*/

.Header {
  margin-bottom: 12px;
}

.GroeneBalkLinks {
  height: 100px;
  width: 800px;
  /*
  ACI-GREEN (fugly):
    background-color: #00A55D;
    Instead, temporarily we use the color for growthstage Harvested:
  */
  background-color: rgba(166, 166, 166, 1);
}

.GroeneBalkRechts {
  position: relative;
  margin-left: 630px;
  margin-top: -100px; ;

  height: 100px;
  width: 170px;
  background-color: rgb(166, 166, 166);
}

.GroeneBalkText {
  position: relative;
  top: 30px;
  left: 20px;
  width: 75%;

  color: white;
  font-size: 34px;
  font-weight: bold;
}

.LogoAci,
.LogoAciHidden {
  position: relative;
  left: -170px;
  top: -28px;
  float: right;
}

.LogoAciHidden {
  opacity: 0;
}

.ContentWrapper {
  width: 800px;
  background-color: #fff;
}

.KeyValuePair {
  width: 780px;
  margin-left: 20px;

  height: 30px;
  line-height: 30px;
  font-size: 12px;
  color: #666;
}

.KeyValuePair.FirstRow {
  margin-top: 10px;
}

.KeyWrapper {
  height: 100%;
  float: left;
  width: 16%;
}

.ValueWrapper {
  height: 100%;
  float: left;
}

.SmallMap {
  position: absolute;
  right: 0;
  border: 9px solid rgb(166, 166, 166);
  cursor: pointer;
}

.SelectedRegionSlug {
  font-weight: bold;
  cursor: pointer;
}