.GroeneBalk {
  height: 60px;
  width: 800px;
  background-color: rgb(166, 166, 166);
}

.GroeneBalkText {
  position: relative;
  top: 10px;
  left: 20px;
  width: 50%;

  color: white;
  font-size: 34px;
}

.MonthVisContainer {
  position: absolute;
  top: 720px;
}

.MonthVisContent {
  height: 380px;
  width: 800px;
}

.LineChartContainer {
  display: inline-block;
  position: relative;
  width: 550px;

  margin-left: 35px;
}

.LineChartContainer svg {
  margin-top: -10px;
}

.LineOpacityDefault {
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.LineOpacityDefault.LineOpacityInactive {
  opacity: 0;
}

.AreaTable {
  position: relative;
  display: inline-block;
  top: -20px;
  left: 50px;
  font-size: 11px;
  color: #666;
}

.AreaTable > thead > tr > th {
  text-align: center;
  width: 60px;
  height: 20px;
  font-weight: normal;
}

.AreaTable > thead > tr > th:first-child {
  background-color: #fff;
}

.AreaTable > tbody > tr > td {
  text-align: center;
  height: 14px;
  background-color: #E6E6E6;
  border: 1px solid white;
}

.AreaTable > tbody > tr > td:first-child {
  background-color: #fff;
}

.LegendContainer {
  position: relative;
  display: inline-block;

  margin-left: 100px;
  margin-top: 10px;
  max-width: 480px;
  min-width: 480px;
  height: 30px;
}

.LegendLeftPart {
  display: inline-block;
  float: left;
  width: 20%;
  height: 30px;
}

.LegendCenterPart {
  display: inline-block;
  float: left;
  width: 20%;
  height: 30px;
}

.LegendRightPart {
  display: inline-block;
  float: left;
  width: 20%;
  height: 30px;
}

.LegendColorIndicator {
  display: inline-block;
  float: left;

  width: 40px;
  height: 3px;

  margin-top: 14px;
  margin-bottom: 12px;

  background-color: #123456; /* gets filled in dynamically by JS.. */
}

.LegendText {
  display: inline-block;
  float: left;

  font-size: 11px;
  color: #666;

  margin-left: 5px;
  line-height: 30px;
}

.YAxisLabel {
  position: relative;
  left: -46px;
  top: 100px;

  font-size: 11px;
  /*font-weight: bold;*/
  color: #666;
  width: 90px;

  transform: rotate(-90deg);
}