.GroeneBalk {
  height: 60px;
  width: 800px;
  /*
  ACI-GREEN (fugly):
    background-color: #00A55D;
    Instead, temporarily we use the color for growthstage Harvest:
  */
  background-color: rgb(166, 166, 166);
}

.GroeneBalkText {
  position: relative;
  top: 10px;
  left: 20px;
  width: 50%;

  color: white;
  font-size: 34px;
}

.MonthVisContent {
  height: 370px;
  min-height: 370px;
  max-height: 370px;

  width: 800px;
}

.LineChartContainer {
  display: inline-block;
  position: relative;
  top: 16px;
  left: -10px;
  width: 600px;
}

.LineOpacityDefault {
  opacity: 1;
  -webkit-transition: opacity 1s;
}

.LineOpacityDefault.LineOpacityInactive {
  opacity: 0;
}

.AreaTable {
  position: relative;
  display: inline-block;
  /*top: -30px;*/
  left: 35px;
  font-size: 11px;
  color: #666;
}

.AreaTable > thead > tr > th {
  text-align: center;
  width: 60px;
  height: 20px;
}

.AreaTable > thead > tr > th:first-child {
  background-color: #fff;
}

.AreaTable > tbody > tr > td {
  text-align: center;
  height: 16px;
  background-color: rgba(128, 128, 128, .2);
}

.AreaTable > tbody > tr > td:first-child {
  background-color: #fff;
}

.LegendContainer {
  position: relative;
  display: inline-block;

  margin-left: 55px;
  margin-top: 10px;
  margin-bottom: -20px;
  max-width: 500px;
  min-width: 500px;
  height: 20px;
  min-height: 20px;
}

.LegendLeftHalf {
  display: inline-block;
  float: left;

  width: 15%;
  height: 40px;

  /*background-color: rgba(255, 0, 0, 0.1);*/
}

.LegendRightHalf {
  display: inline-block;
  float: left;

  width: 35%;
  height: 40px;

  /*background-color: rgba(0, 0, 255, 0.1);*/
}

.LegendColorIndicator {
  display: inline-block;
  float: left;

  width: 40px;
  height: 3px;

  margin-top: 18px;
  margin-bottom: 18px;

  background-color: #123456;
}

.LegendText {
  display: inline-block;
  float: left;

  font-size: 11px;
  color: #666;

  margin-left: 5px;
  line-height: 40px;
}