.GroeneBalk {
  height: 60px;
  width: 800px;
  /*
  ACI-GREEN (fugly):
    background-color: #00A55D;
    Instead, temporarily we use the color for growthstage Harvest:
  */
  background-color: rgb(166, 166, 166);
}

.GroeneBalkText {
  position: relative;
  top: 10px;
  left: 20px;
  width: 50%;

  color: white;
  font-size: 34px;
}

.ChartContainer {
}

.WeekVisContent {
}