.TheTableContainer {
  float: left;
}

.TheTable {
  font-size: 11px;
  color: #666;
  margin-bottom: 20px;
}

.WeekTableHeader {
  color: #fff;
}

.VerticalColumnName {
  position: relative;
  background-color: #fff;
  padding: 5px;
  border-radius: 5px;
  font-size: 11px;
  transform: rotate(-90deg);
}

.VerticalColumn {
  height: 100px;
  border: 1px solid white;
}

.TableCell {
  background-color: #E6E6E6;
  text-align: center;
  border: 1px solid white;
}

.TableRow {
  height: 26px;
}

.CornerLabel {
  max-width: 40px;
  text-align: center;
  font-weight: normal;

  /*background-color: #aaf;*/
}

.CornerLabel > div {
  position: relative;
  transform: rotate(-90deg);
  width: 90px;
  margin-left: -25px;

  /*background-color: #faa;*/
}